.page-with-img {
  display: grid;
  grid-gap: 0 169px;
  grid-template-columns: 394px 1fr;
  margin-left: calc((100% - 1120px) / 2);
  opacity: 0;
  transition: $cubic-bezier;
  will-change: opacity;
  &.is-in-view {
    opacity: 1;
    .page-with-img__content {
      transform: translateY(0);
    }
  }
  &__content {
    padding-top: 100px;
    order: 1;
    transform: translateY(60px);
    transition: $cubic-bezier;
    will-change: transform;
  }
  &__sticky {
    position: relative;
    order: 2;
    & > img {
      display: block;
      width: 100%;
      height: auto;
      position: sticky;
      top: 0;
      min-height: 100vh;
      object-fit: cover;
    }
  }
  @include media($laptop-middle) {
    margin-left: 0;
    padding-left: 75px;
  }
  @include media($laptop-small) {
    padding-left: 45px;
    grid-gap: 0 70px;
  }
  @include media($tablet) {
    padding-left: 20px;
    padding-right: 20px;
    display: block;
    &__content {
      padding-top: 56px;
    }
    &__sticky {
      margin-left: -20px;
      margin-right: -20px;
      img {
        min-height: unset;
        height: 240px;
      }
    }
    &--revert {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      justify-content: flex-start;
      grid-gap: 0;
      .page-with-img__sticky {
        margin: 40px 0 0;
      }
    }
  }
}